<h3 class="text-center text-monospace">We are always happy to greet a new cats fan.</h3>
  <h3 class="text-center text-monospace"> Please, tell us about yourself and enjoy the club!</h3>

<br>
<br>
<%= render 'form', user: @user %>

<%= link_to 'Back', users_path,  class: 'btn btn-link' %>
