<p id="notice"><%= notice %></p>

<h3 class="text-center">Favourite Pictures</h3>

<br>
<%= link_to 'Back', user_path(params[:user_id]), class: 'btn btn-success' %>

<br>

<div class="container">
  <div class="row">
    <% @favourites.each do |favourite| %>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-0">
        <div class="card border-secondary my-2 mx-1" >
          <%= image_tag Picture.find(favourite.picture_id).url, class: 'card-img-top' %>
          <div class="card-body text-center">
            <%= link_to 'Destroy', user_favourite_path(params[:user_id], favourite), method: :delete, data: { confirm: 'Are you sure?' } %>
           </div>
          <br> <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
