<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= image_tag @favourite.url %>
</p>

<br>

<%= link_to 'Edit', edit_favourite_path(@favourite) %> |
<%= link_to 'Back', favourites_path %>
