<p id="notice"><%= notice %></p>

<h3>All pictures users own: </h3>

<div class="container">
  <div class="row">
    <% @all_pictures.each do |img| %>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-0">
        <div class="card border-secondary my-2 mx-1" >
          <%= image_tag img.url, class: 'card-img-top' %>
          <div class="card-body text-center">
            <%= link_to 'Destroy',
                        user_picture_path(user_id: params[:user_id], id: img.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <br> <br>
        </div>
      </div>
    <% end %>
  </div>
</div>