<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= image_tag @picture.url %>
</p>

<%= link_to 'Edit', edit_user_picture_path(@picture) %> |
<%= link_to 'Back', user_pictures_path %>
